/* MOBILE */
@media (max-width: 840px) {
    header .header-content {
        padding: 0 15px;
    }

    main .meme-editor {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas: "canvas"
            "control-box";
        gap: 10px;
        margin: 10px auto;
    }

    .gallery .gallery-content .gallery-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    main .gallery .search-bar {
        width: 100%;
        padding: 25px 15px;
    }

    .gallery .search-bar input {
        width: 100%;
        padding: 0 15px;
    }

    .meme-editor .control-box .top-grid {
        margin-bottom: 15px;
    }

    .meme-editor .control-box .mid-grid {
        margin-bottom: 10px;
    }

    .main-layout {
        max-width: 640px;
    }
}


/* MEDIUM */
@media (min-width: 840px) {
    .main-layout {
        max-width: 800px;
    }
}

/* LARGE */
@media (min-width: 1100px) {
    .main-layout {
        max-width: 1060px;
    }
}