main {
    background-color: #e3e3e3;
}

main .meme-editor {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "canvas control-box";
    margin: 25px auto;
}
.meme-editor .control-box .canvas-container{
    /* margin: 0 auto; */
}

canvas {
    /* outline: 1px solid black; */
    grid-area: canvas;
    background-color: white;
    width: 100%;
    height: 100%;
    /* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; */
    display: block;

}

.meme-editor .control-box {
    grid-area: control-box;
    text-align: center;
}

.meme-editor .control-box img {
    /* width: 30px; */
    /* height: 30px; */
    cursor: pointer;
}

.meme-editor .control-box .btn {
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* TOP GRID */
.meme-editor .control-box .top-grid {
    display: grid;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
        "txt-box txt-box txt-box txt-box txt-box"
        "up-down-line switch-line add-line delete-line .";
}

.meme-editor .control-box .text-box {
    display: block;
    /* margin: 0 auto; */
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 8px;
    border: 0px;
    grid-area: txt-box;
}

.meme-editor .control-box .text-box:focus {
    outline: none;
}

.meme-editor .control-box .up-down-line-btns {
    grid-area: up-down-line;
    justify-self: center;
    font-family: fantasy;
    font-weight: 700;
    /* height: 100%; */
    /* width: 100%; */
    font-size: 32px;
    line-height: 0;


}

.control-box .up-down-line-btns .up-btn {
    color: rgb(7, 210, 7);
    border-radius: 4px;
    background-color: white;
    height: 100%;
    width: 50%;
    padding-bottom: 7px;
    cursor: pointer;
    user-select: none;

}

.control-box .up-down-line-btns .down-btn {
    color: red;
    border-radius: 4px;
    background-color: white;
    width: 50%;
    padding-bottom: 7px;
    cursor: pointer;
    user-select: none;

}

.meme-editor .control-box .switch-line-btn {
    grid-area: switch-line;
    justify-self: center;
}

.meme-editor .control-box .add-line-btn {
    grid-area: add-line;
    justify-self: center;
}

.meme-editor .control-box .delete-line-btn {
    grid-area: delete-line;
    justify-self: center;
}

/* MID GRID */
.meme-editor .control-box .mid-grid {
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
        "increase-font decrease-font align-left align-center align-right"
        "font-name font-name font-name text-stroke text-color";
}

.meme-editor .control-box .increase-font-btn {
    grid-area: increase-font;
    justify-self: center;
}

.meme-editor .control-box .decrease-font-btn {
    grid-area: decrease-font;
    justify-self: center;
}

.meme-editor .control-box .align-left-btn {
    grid-area: align-left;
    justify-self: center;
}

.meme-editor .control-box .align-center-btn {
    grid-area: align-center;
    justify-self: center;
}

.meme-editor .control-box .align-right-btn {
    grid-area: align-right;
    justify-self: center;
}

.meme-editor .control-box .font-name {
    grid-area: font-name;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.meme-editor .control-box .text-stroke-btn {
    grid-area: text-stroke;
    justify-self: center;
}

.meme-editor .control-box .text-color-btn {
    grid-area: text-color;
    justify-self: center;
    display: inline;
}

.control-box .text-color-btn img {
    width: 100%;
    height: 100%;
}

.control-box .text-color-btn input {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 35px;
    opacity: 0;
    cursor: pointer;
}

/* Stickers Container */
.meme-editor .control-box .stickers-container {
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: 25px repeat(3, 80px) 25px;
    grid-template-rows: repeat(2, 20px);
    /* background-color: white; */
    margin: 0 auto;
    margin-bottom: 20px;
    grid-template-areas: "left-arrow sticker1 sticker2 sticker3 right-arrow"
        "left-arrow sticker1 sticker2 sticker3 right-arrow";
    user-select: none;
}

.control-box .stickers-container .left-arrow {
    grid-area: left-arrow;
    justify-self: center;
}

.control-box .stickers-container .right-arrow {
    grid-area: right-arrow;
    justify-self: center;
}

.control-box .stickers-container .sticker1 {
    grid-area: sticker1;
    justify-self: center;
}

.control-box .stickers-container .sticker2 {
    grid-area: sticker2;
    justify-self: center;
}

.control-box .stickers-container .sticker3 {
    grid-area: sticker3;
    justify-self: center;
}

.control-box .stickers-container .sticker {
    /* height: 100%; */
    /* width: 100%; */
    font-size: 50px;
}

/* Share button */
.meme-editor .control-box .btns-grid {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 50px;
    grid-template-areas: "download-btn download-btn . share-btn share-btn";
}

.meme-editor .control-box .share-btn {
    grid-area: share-btn;
    justify-self: center;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    background-color: #ff7f00;
    border: 0px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.meme-editor .control-box .download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: download-btn;
    justify-self: center;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    background-color: #ff7f00;
    border: 0px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
