main .gallery {
    background-color: white;
}

main .gallery .search-bar {
    padding: 25px;
}

main .gallery .gallery-content {
    background-color: #e3e3e3;
}

.gallery .gallery-content .gallery-imgs {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    gap: 15px;
    justify-content: space-around;
    padding: 15px ;
}

.gallery .gallery-content img {
    width: 100%;
    margin: 0 auto;
}

main .gallery .about-me {
    background-color: white;
    text-align: center;
}