main .gallery {
    background-color: white;
}

main .gallery .search-bar {
    padding: 25px 0;
}

.gallery .search-bar input {
    background-image: url('../../ICONS/search-icon.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 235px;
    background-size: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    border: 0;
    border-bottom: 2px solid black;
    user-select: none;
}

.gallery .search-bar input:focus{
    outline: none;
}

main .gallery .gallery-content {
    background-color: #e3e3e3;
}

.gallery .gallery-content .gallery-imgs {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    gap: 15px;
    justify-content: space-around;
    padding: 15px;
}

.gallery .gallery-content img {
    width: 100%;
    margin: 0 auto;
}

main .gallery .about-me {
    display: grid;
    align-items: center;
    grid-template-columns: 45% 55%;
    background-color: white;
    /* text-align: left; */
    padding: 25px 0;
}

.gallery .about-me .left-side {
    text-align: right;
}

.about-me .left-side img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-right: 40px;
}

.gallery .about-me .right-side {
    text-align: left;
}

.about-me .right-side p {
    margin: 0;
}

.about-me .right-side p:last-of-type {
    /* margin-top: 0; */
    margin-bottom: 35px;
}

.gallery .about-me .social-icons {
    /* height: 25px;
    width: 25px; */
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: 30px;
    gap: 10px;
}

.about-me .social-icons img {
    height: 100%;
    width: 100%;
    background-color: #ff7f00;
    padding: 5px;
    border-radius: 4px;
}