header {
    background-color: #ff7f00;
    /* height: 50px; */
}

header .header-content {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-content .logo {
    height: 30px;
}

.main-nav a {
    text-decoration: none;
    padding-left: 20px;
    color: white;
}